@import "./_theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

header {
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/header-vegs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  width:100%;

  .logo {
    position: absolute;
    top: 50%;
    left: 25%;
    color: $white;
    @include translate(-50%);
    h1{
      font-size: 2.2em;
    }
    .btn {
      border-radius: 0.5em;
      width: 20%;
      a {
       font-size: 1.2em;
       color: $white;
       text-decoration: none;

       &:hover{
         color:$red;
       }
     }
   }
  }
}
.main-nav,
.main-nav ul,
.main-nav ul li {
  margin: 0;
  padding: 0;
}

 .row .main-nav {
  position:absolute;
  top:5%;
  left: 75%;
  @include translate(-50%);
  margin-left:50px;

    ul li {
      display: inline-block;
      list-style-type: none;
    }
    a {
      font-size: 1em;
      line-height: normal;
      color: $lightGrey * 0.8;
       margin-right: $s-pad * 2;
       &:hover {
        color:$lightGrey;
        @include transition(.4s ease-in-out);
        text-decoration: none;
      }
    }
}


.feature {
  h3{
    margin-top: $s-pad * 4;
    margin-bottom: $s-pad * 3;
    &:after {
      width: 20%;
      height:2px;
      background-color: $orange;
      display: block;
      content: "";
      margin: 20px auto;
    }
  }
  p.copy {
    width: 70%;
    margin-left: 15%;
    font-size: 1em;
    line-height: normal;
  }
  .content-arrange {
    width: 70%;
    line-height: normal;
    margin-left: 50%;
  }
}
